@model List<Certification>

<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">SERTİFİKALAR</h2>
        <ul class="fa-ul mb-0">
            @foreach (Certification item in Model)
            {
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    @item.Description
                    <br />  <i class="fa-regular fa-calendar-days"></i> @item.Tarih
                </li>
                
                <li>
                    <span class="fa-li"><i class="fa-solid fa-link"></i></span>
                    <a href="@item.Link"> Serifika Linki</a>
                    
                </li>
                <br />
            }

        </ul>
        
    </div>
</section>