<h2 class="mb-5">Create New </h2>

<form asp-area="Admin" asp-controller="Experience" asp-action="Create" method="post">

    <label class="form-label">Title</label>
    <input type="text" name="Title" class="form-control" required>
    <br />

    <label class="form-label">SubTitle</label>
    <input type="text" name="Subtitle1" class="form-control" required>
    <br />

    <label class="form-label">Açıklama</label>
    <input type="text" name="Description" class="form-control" required>
    <br />

    <label class="form-label">Tarih</label>
    <input type="text" name="Tarih" class="form-control" required>
    <br />

    <button class="btn btn-primary">Save</button>

</form>